.Rproj.user
Floral_metagenomics.Rproj
.Rhistory
.RData
.Ruserdata
data/02_trim_unzipped_and_host-grouped/*
data/03_Bowtie2_host_filter/*
data/03_Flower_host_genomes/*
data/03_Bowtie2host_filter/1*
data/03_Bowtie2host_filter/2*
data/03_Bowtie2host_filter/3*
data/03_Bowtie2host_filter/4*
data/03_Bowtie2host_filter/5*
data/03_Bowtie2host_filter/6*
data/03_Bowtie2host_filter/7*
data/03_Bowtie2host_filter/8*
data/03_Bowtie2host_filter/9*
data/04_metaspades/*
data/05_metaQUAST/*
data/05_metaQUAST_NO_reference/*
data/05_Quast_reference_acineto_genomes/*
data/06_sample_contigs/*
data/06_MetaBat2/*
data/06_depth_files/*
data/07_gtdbtk_out/*
data/07_CheckM/*
data/gtdbtk_data.tar.gz
data_updated/*
databases/

